.movie-details {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: var(--primary-color);
    position: relative;
    top: 120px;
    z-index: 1000;
}

.movie-details-content {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    display: flex;
    align-items: center;
}

.movie-details-content img {
    max-width: 300px;
    margin-right: 20px;
    border-radius: 10px;
}

.movie-details-info {
    text-align: center;
    color: white;
}

#close-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#close-btn:hover {
    background-color: #d32f2f;
}
